@import "./assets/styles/utilities.css";

body {
  margin: 0;
  font-family: "MYRIADPRO", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  overflow-x: hidden;
}

@font-face {
  font-family: "MYRIADPRO";
  src: local("MYRIADPRO"),
    url("./fonts/myriad-pro-cufonfonts/MYRIADPRO-SEMIBOLD.OTF")
      format("truetype");
  font-weight: bold;
}
