body {
  margin: 0;
  font-family: "MYRIADPRO", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MYRIADPRO";
  src: local("MYRIADPRO"),
    url("./fonts/myriad-pro-cufonfonts/MYRIADPRO-SEMIBOLD.OTF")
      format("truetype");
  font-weight: 100, 200, 300, 400, 500, 600, 700;
}
